{% extends 'base.html' %}

{% block title %}
<title>Таблица фирм</title>
{% endblock %}

{% block body %}
<h1>Таблица фирм</h1><br>
<table border="1">
<tr><th>id</th><th>название фирмы</th><th>Удаление</th><th>Изменить</th>  <!--ряд с ячейками заголовков-->
    {% for i in data %}
    <tr><td>{{ i.id }}</td><td>{{ i.name }}</td>
    <td><form method="post"><input type="submit" name="delete" id="delete" value="{{ i.id }}"></form></td>
    <td><a href = "/EditFirm/{{ i.id }}"><button>Изменить</button></a></td>
</tr> <!--ряд с ячейками тела таблицы-->
    {%endfor%}
</table>
{% endblock %}